<h1>トップページ</h1>
<% if user_signed_in? %>
  <%= "ようこそ！ #{current_user.last_name}#{current_user.first_name}さん" %><br />
  <%= link_to 'マイページ', user_path(current_user) %>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to '新規登録', new_user_registration_path %>
  <%= link_to 'ログイン', new_user_session_path %>
<% end %>

<div>
  <% @quest.each do |quest| %>
    <%= link_to quest_path(quest) do %>
      <%= image_tag quest.image.variant(gravity: :center, resize:"160x160^", crop:"640x640+0+0").processed if quest.image.attached? %>
      <%= image_tag '1907765.png', size: '150x80' unless quest.image.attached? %>
    <% end %>
    <div>
      <%= link_to "クエスト名：#{quest.title}", quest_path(quest) %><br />
      <%= "募集者：#{quest.user.last_name}#{quest.user.first_name}さん" %><br />
      <%= "募集予定人数：#{quest.capacity}人" %><br />
      <%= "活動予定日：#{l quest.date}" %><br />
      <%= "活動地域：#{quest.place_name}" %><br />
      <%= link_to "現在の参加予定人数：#{quest.joins.count}人", quest_joins_path(quest)%>
    </div>
  <% end %>
</div>