<h1>募集要項</h1>

<h3><%= @quest.title %></h3>
<div>
  <%= image_tag @quest.image.variant(gravity: :center, resize:"320x320^", crop:"640x640+0+0").processed if @quest.image.attached? %>
  <%= image_tag '1907765.png', size: '150x80' unless @quest.image.attached? %>
</div>

<h3>・基本情報</h3>
<div>
  <%= "募集者：#{@quest.user.last_name}#{@quest.user.first_name}さん" %><br />
</div>
<div>
  <%= "募集予定人数：#{@quest.capacity}人" %><br />
</div>
<div>
  <%= "活動予定日：#{l @quest.date}" %><br />
</div>
<div>
  <%= "活動地域：#{@quest.place_name}" %><br />
</div>
<div>
  <%= "応募対象者：#{@quest.target_attribute_name}" %><br />
</div>
<div>
  <%= "応募資格：#{@quest.target}" %><br />
</div>
<div>
  <%= "報酬：#{@quest.reward}" %><br />
</div>
<div>
  アピールポイント：<p><%= raw(nl2br(@quest.point)) %></p><br />
</div>

<h3>・詳細情報</h3>
<%= raw(nl2br(@quest.detail)) %><br />

<h3>評価一覧</h3>
<% if Message.exists?(quest_id: @quest.id)%>
  <% if user_signed_in? && current_user.id == @quest.user_id %>
    <% @messages.each do |message| %>
      <%= "To：#{User.find(message.sending_party_id).last_name}#{User.find(message.sending_party_id).first_name}さん"%><br />
      <%= "#{message.message}（#{message.user.last_name}#{message.user.first_name}さん）" %>
    <% end %>
  <% elsif user_signed_in? && current_user.id != @quest.user_id %>
    <% if @messages.exists?(user_id: @quest.user_id) %>
      <%= "To：#{current_user.last_name}#{current_user.first_name}さん"%><br />
      <%= "#{Message.find_by(quest_id: @quest.id, user_id: @quest.user_id).message}（#{@quest.user.last_name}#{@quest.user.first_name}＠募集者さん）" %><br />
    <% end %>
    <% if @messages.exists?(user_id: current_user.id) %>
      <%= "To：#{@quest.user.last_name}#{@quest.user.first_name}さん"%><br />
      <%= "#{Message.find_by(quest_id: @quest.id, user_id: current_user.id).message}（#{current_user.last_name}#{current_user.first_name}さん）" %><br />
    <% end %>
  <% end %>
<% else %>
  評価はまだありません。<br />
<% end %>

<% if user_signed_in? && current_user.id == @quest.user_id || Join.exists?(quest_id: @quest.id, user_id: current_user.id) %>
  <h3>評価する</h3>
  <%= form_with model: [@quest, @message], local: true do |f| %>
    <% if current_user.id != @quest.user_id %>
      <% if @messages.exists?(user_id: current_user.id) %>
        <%= "#{@quest.user.last_name}#{@quest.user.first_name}さんへの評価は投稿済みです。" %><br />
      <% else %>
        <%= "#{@quest.user.last_name}#{@quest.user.first_name}さんに今回の評価を行います。" %><br />
        <%= f.hidden_field :sending_party_id, value: @quest.user_id %>
        <%= f.label :message, 'メッセージ' %><br/>
        <%= f.text_area :message, autofocus: true %><br />
        <div id="rating-form">
          <%= f.hidden_field :like %>
        </div>
        <script>
          $('#rating-form').raty({
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              scoreName: 'message[like]'
          });
        </script>
        <%= f.submit '送信する' %>
      <% end %>
    <% else %>
      <select name="message[sending_party_id]">
        <option value="">評価相手を選択してください</option>
        <% @joins.each do |join| %>
          <% if @messages.exists?(sending_party_id: join.user_id) %>
            <option value=<%= join.user_id %> disabled><%= "#{join.user.last_name}#{join.user.first_name}さん（評価済み）" %></option>
          <% else %>
            <option value=<%= join.user_id %>><%= "#{join.user.last_name}#{join.user.first_name}さん" %></option>
          <% end %>
        <% end %>
      </select><br />
      <%= f.label :message, 'メッセージ' %><br/>
      <%= f.text_area :message, autofocus: true %><br />
      <div id="rating-form">
        <%= f.hidden_field :like %>
      </div>
      <script>
        $('#rating-form').raty({
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            scoreName: 'message[like]'
        });
      </script>
      <%= f.submit '送信する' %>
    <% end %>
  <% end %>
<% end %>


<% if user_signed_in? && current_user.id == @quest.user_id %>
  <div>
    <%= link_to '承認待ち一覧へ', quest_applies_path(@quest) %>
    <%= link_to '編集する', edit_quest_path(@quest) %>
    <%= link_to '破棄する', quest_path(@quest), method: :delete %>
  </div>
<% else %>
  <% if Join.exists?(quest_id: @quest.id, user_id: current_user.id) %>
    <% unless @messages.exists?(sending_party_id: current_user.id) || @messages.exists?(user_id: current_user.id) %>
      <%= link_to '参加取消', quest_join_path(@quest, @join), method: :delete %>
    <% end %>
  <% elsif current_user %>
    <% if Apply.exists?(quest_id: @quest.id, user_id: current_user.id) %>
      <%= link_to '申請取消', quest_apply_path(@quest, @apply), method: :delete %>
    <% else %>
      <%= link_to '応募する', quest_applies_path(@quest), method: :post %>
    <% end %>
  <% end %>
<% end %>


<%= link_to 'トップページへ', root_path %>